{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'blog/style.css' %}">
        <title>About</title>
    </head>
    <body>
        <h1>About An Almost Sentient Rubiks Cube</h1>
        <P>You're visiting from: {{ ip }}</P>
        <ol class="navBlock">
            <li class="navBlock"><a href="/blog/">Blog</a></li>
            <li class="navBlock"><a href="/blog/about.html">About</a></li>
            <li class="navBlock"><a href="/blog/archive">Archive</a></li>
            <li class="navBlock"><a href="/blog/techtips+css.html">techtips+css</a></li>
            <li class="navBlock"><a href="/blog/techtips-css.html">techtips-css</a></li>
        </ol>
        <h1>About Me</h1>
        <span>
            <img src="{% static 'blog/imgs/rubiks_cube.jpg' %}" alt="self portrait">
            <img src="{% static 'blog/imgs/rubiks_w_friend.jpg' %}" alt="rubiks cube hanging out with cool friends">
            <img src="{% static 'blog/imgs/rubiks_before_weight_loss.jpg' %}" alt="rubiks cube before his intensive training for his lead role in a huge block buster">
        </span>
        <p id="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Leo vel orci porta non pulvinar neque. Lorem mollis aliquam ut porttitor. Egestas fringilla phasellus faucibus scelerisque. Nulla posuere sollicitudin aliquam ultrices sagittis. Platea dictumst vestibulum rhoncus est. Massa eget egestas purus viverra accumsan in nisl nisi. Mauris in aliquam sem fringilla ut morbi tincidunt augue. Odio aenean sed adipiscing diam donec adipiscing tristique risus nec. Orci ac auctor augue mauris augue neque gravida. Massa sapien faucibus et molestie ac feugiat sed lectus. Sit amet est placerat in egestas erat imperdiet sed euismod
            Dignissim cras tincidunt lobortis feugiat vivamus at augue. Pellentesque diam volutpat commodo sed egestas. Maecenas ultricies mi eget mauris pharetra et ultrices neque. Turpis cursus in hac habitasse platea dictumst. Dictum sit amet justo donec enim diam vulputate ut. Tristique senectus et netus et malesuada fames ac turpis. Tellus at urna condimentum mattis pellentesque. Sit amet justo donec enim diam vulputate. Convallis aenean et tortor at risus viverra adipiscing at in. Aliquet nec ullamcorper sit amet risus nullam eget felis eget. Magna etiam tempor orci eu lobortis elementum nibh tellus molestie. Est pellentesque elit ullamcorper dignissim cras. Nullam ac tortor vitae purus. Interdum posuere lorem ipsum dolor sit amet consectetur adipiscing elit. Metus dictum at tempor commodo ullamcorper. Neque sodales ut etiam sit amet. Sit amet facilisis magna etiam tempor.
            Et ultrices neque ornare aenean euismod elementum. Tempor nec feugiat nisl pretium fusce id velit ut. Id cursus metus aliquam eleifend mi in. Maecenas accumsan lacus vel facilisis volutpat est. Sem viverra aliquet eget sit amet. Tincidunt id aliquet risus feugiat in ante metus dictum. Posuere morbi leo urna molestie at elementum eu facilisis. Fusce id velit ut tortor pretium viverra suspendisse. Tincidunt id aliquet risus feugiat in ante metus dictum. Non consectetur a erat nam. Amet venenatis urna cursus eget nunc scelerisque viverra mauris. Cras adipiscing enim eu turpis egestas pretium aenean pharetra. Magna fermentum iaculis eu non diam phasellus.
            Felis donec et odio pellentesque diam volutpat. Sodales ut etiam sit amet nisl purus in. Maecenas ultricies mi eget mauris pharetra et ultrices. Nulla aliquet porttitor lacus luctus accumsan tortor. Volutpat ac tincidunt vitae semper quis lectus nulla at. Dignissim sodales ut eu sem. Senectus et netus et malesuada fames ac turpis egestas maecenas. Blandit massa enim nec dui nunc mattis enim ut tellus. Sit amet venenatis urna cursus eget. Proin sed libero enim sed faucibus turpis. Adipiscing at in tellus integer. Erat pellentesque adipiscing commodo elit at imperdiet dui.
            Facilisis sed odio morbi quis commodo. Eros donec ac odio tempor. Fringilla urna porttitor rhoncus dolor purus non enim praesent. Ipsum suspendisse ultrices gravida dictum fusce ut placerat orci. Porttitor lacus luctus accumsan tortor posuere ac ut consequat semper. Eget gravida cum sociis natoque penatibus et. Non tellus orci ac auctor augue mauris augue. Et netus et malesuada fames. Ut pharetra sit amet aliquam id diam maecenas ultricies mi. Fames ac turpis egestas sed tempus urna et pharetra pharetra. Nulla porttitor massa id neque aliquam vestibulum. Nunc faucibus a pellentesque sit amet porttitor. Donec pretium vulputate sapien nec sagittis aliquam. Tellus elementum sagittis vitae et leo duis. Dignissim cras tincidunt lobortis feugiat vivamus at augue. Nec sagittis aliquam malesuada bibendum arcu. Et pharetra pharetra massa massa ultricies.</p>
    </body>
</html>
