{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>techtips+css</title>
        <link rel="stylesheet" href="{% static 'blog/style.css' %}">
    </head>
    <body>
        <h1>Techtips+css</h1>
        <P>You're visiting from: {{ ip }}</P>
        <ol class="navBlock">
            <li class="navBlock"><a href="/blog/">Blog</a></li>
            <li class="navBlock"><a href="/blog/about.html">About</a></li>
            <li class="navBlock"><a href="/blog/archive">Archive</a></li>
            <li class="navBlock"><a href="/blog/techtips+css.html">techtips+css</a></li>
            <li class="navBlock"><a href="/blog/techtips-css.html">techtips-css</a></li>
        </ol>

        <!-- W3C Validators -->
        <h1>W3C Validators</h1>
        <ul>
            <li><a href="https://validator.w3.org/#validate_by_upload" target="_blank">W3C HTML Validator</a></li>
            <li><a href="" target="_blank">W3C CSS Validator</a></li>
        </ul>

        <!-- HTML ELEMENTS -->
        <div style="background-color: lightgray;">
            <h2>HTML Elements Catalog</h2>
            <a class="title" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/html" target="_blank">&lt;html&gt;</a>
            <ul>
                <li class="desc">Name: idem.</li>
                <li class="desc">Purpose: HTML document root element; must be unique in document</li>
                <li class="desc">Display: N/A</li>
                <li class="desc">Parents: none</li>
                <li class="desc">Contents: 
                    <ul>
                        <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/head" target="_blank">&lt;head&gt;</a></li>
                        <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/body" target="_blank">&lt;body&gt;</a></li>
                    </ul>
                </li>
            </ul>
            <a class="title" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/head" target="_blank">&lt;head&gt;</a>
            <ul>
                <li class="desc">Name: idem.</li>
                <li class="desc">Purpose: HTML document metadata container; content is not visible within the doucment, but may influence it</li>
                <li class="desc">Display: N/A</li>
                <li class="desc">Parents: <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/html" target="_blank">&lt;html&gt;</a></li>
                <li class="desc">Contents: 
                    <ul>
                        <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/body" target="_blank">&lt;title&gt;</a></li>
                        <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta" target="_blank">&lt;meta&gt;</a></li>
                        <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/link" target="_blank">&lt;link&gt;</a></li>
                    </ul>
                </li>
            </ul>
            <a class="title" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/body" target="_blank">&lt;body&gt;</a>
            <ul>
                <li class="desc">Name: idem. </li>
                <li class="desc">Purpose: Container for </li>
                <li class="desc">Display: N/A </li>
                <li class="desc">Parents: <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/html" target="_blank">&lt;html&gt;</a></li>
                <li class="desc">Contents: 
                    <ul>
                        <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Heading_Elements" target="_blank">&lt;h1-h6&gt;</a></li>
                        <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/div" target="_blank">&lt;div&gt;</a></li>
                        <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/span" target="_blank">&lt;span&gt;</a></li>
                        <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ol" target="_blank">&lt;ol&gt;</a></li>
                        <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ul" target="_blank">&lt;ul&gt;</a></li>
                        <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a" target="_blank">&lt;a&gt;</a></li>
                        <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img" target="_blank">&lt;img&gt;</a></li>
                        <li>etc...</li>
                    </ul>
                </li>
            </ul>
            <a class="title" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Heading_Elements" target="_blank">&lt;h1-h6&gt;</a>
            <ul>
                <li class="desc">Name: h1, h2, h3, h4, h5, h6</li>
                <li class="desc">Purpose: Create headings of various levels/sizes</li>
                <li class="desc">Display: block</li>
                <li class="desc">Parents: <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/body" target="_blank">&lt;body&gt;</a></li>
                <li class="desc">Contents: Text</li>
            </ul>
        </div>
        <!-- HTML CHARACTER ENTITIES -->
        <div style="background-color: lightblue;">
            <h2>HTML Character Entities Catalog</h2>
            <a class="title" href="https://html.spec.whatwg.org/multipage/named-characters.html#named-character-references" target="_blank">Less Than</a>
            <ul>
                <li class="desc">Displays as: &lt;</li>
                <li class="desc">Plain text: &amp;lt;</li>
            </ul>
            <a class="title" href="https://html.spec.whatwg.org/multipage/named-characters.html#named-character-references" target="_blank">Greater Than</a>
            <ul>
                <li class="desc">Displays as: &gt;</li>
                <li class="desc">Plain text: &amp;gt;</li>
            </ul>
            <a class="title" href="https://html.spec.whatwg.org/multipage/named-characters.html#named-character-references" target="_blank">Ampersand</a>
            <ul>
                <li class="desc">Displays as: &amp;</li>
                <li class="desc">Plain text: &amp;amp;</li>
            </ul>
        </div>
        <!-- CSS SELECTORS -->
        <div style="background-color: lightgreen;">
            <h2>HTML Character Entities Catalog</h2>
            <a class="title" href="https://www.w3schools.com/cssref/css_selectors.asp" target="_blank">.class</a>
            <ul>
                <li class="desc">Example: .desc</li>
                <li class="desc">Example Description: Selects all elements of class=".desc"</li>
            </ul>
            <a class="title" href="https://www.w3schools.com/cssref/css_selectors.asp" target="_blank">#id</a>
            <ul>
                <li class="desc">Example: #content</li>
                <li class="desc">Example Description: Selects the element of id="content"</li>
            </ul>
            <a class="title" href="https://www.w3schools.com/cssref/css_selectors.asp" target="_blank">:nth-childof()</a>
            <ul>
                <li class="desc">Example: tag.nth-child(even)</li>
                <li class="desc">Example Description: Selects the even children of tag</li>
            </ul>
            <a class="title" href="https://www.w3schools.com/cssref/css_selectors.asp" target="_blank">*</a>
            <ul>
                <li class="desc">Example: *</li>
                <li class="desc">Example Description: Selects everything</li>
            </ul>
        </div>
        
        <!-- CSS PROPERTIES -->
        <div style="background-color: lightseagreen;">
            <h2>HTML Character Entities Catalog</h2>
            <a class="title" href="https://www.w3schools.com/cssref/" target="_blank">background-color</a>
            <ul>
                <li class="desc">Example: background-color: black;</li>
                <li class="desc">Example Description: Sets the background to black</li>
            </ul>
            <a class="title" href="https://www.w3schools.com/cssref/css_selectors.asp" target="_blank">color</a>
            <ul>
                <li class="desc">Example: color: #FF0000; </li>
                <li class="desc">Example Description: Sets the font color to red</li>
            </ul>
            <a class="title" href="https://www.w3schools.com/cssref/css_selectors.asp" target="_blank">font-family</a>
            <ul>
                <li class="desc">Example: font-family: monospace;</li>
                <li class="desc">Example Description: Changes the font to monospace</li>
            </ul>
            <a class="title" href="https://www.w3schools.com/cssref/css_selectors.asp" target="_blank">font-size</a>
            <ul>
                <li class="desc">Example: font-size: 10px;</li>
                <li class="desc">Example Description: Changes the font size to 10px</li>
            </ul>
        </div>

    </body>
</html>